<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <script src="{% static 'js/bootstrap.js'%}"></script>
  <title>Dopekid.com</title>
</head>
<body>
  <!-- nevegation  -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">Dopekid</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/platform_youtube">Youtube</a></li>
            <li><a class="dropdown-item" href="https://github.com/Ronak0073">GitHub</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://www.instagram.com/dopekid.exe/">Instagram</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blogs</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- navigation end -->



<!-- carasal  -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/img/1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/img/2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- carasoal end -->

<!-- our dialog -->
<div class="shadow-lg p-3 mb-5 bg-white rounded"><center>
  <p>
    <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
       Hold different,Play different
    </h2>
  </p>
</center></div>

<!-- dialog end  -->
<br>
</div>
<div class="container my-5 width-auto mar">
  <div class="row">
      <div class="card mx-4" style="width: 15rem;">
        <img src="static/img/pubg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Good News for Pubg Mobile Fans! 1.2 beta APK Download Link
            Realesed for Android Users
          </p>
          <a href="" class="stretched-link">View</a>
        </div>
      </div>

      <div class="card mx-4" style="width: 14rem;">
        <img src="static/img/cyberpubk.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Cyberpunk 2077’s long-struggling developers will see their bonuses after all
          </p>
          <a href="" class="stretched-link">View</a>
      </div>
    </div>

    <div class="card mx-4" style="width: 14rem;">
      <img src="static/img/faugg.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">FAU-G Mobile Game: How to download APK links, playing rules explained
        </p>
        <a href="" class="stretched-link">View</a>
      </div>
    </div>

    <div class="card mx-4" style="width: 14rem;">
      <img src="static/img/gawards.jfif" class="card-img-top" alt="...";">
      <div class="card-body">
        <p class="card-text">The Game Awards 2020: Winners, most notable announcements
        </p>
        <a href="" class="stretched-link">View</a>
      </div>
    </div>

  </div>
</div>
<!--new end-->
<!--youtube-->


<!--dont modify below-->

</body>
</html>
